.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 330px;
    padding: 25px;
    background: linear-gradient(0, hsl(216, 40%, 10%) 0%, hsl(213, 19%, 15%) 100%);
    border-radius: 15px;
  }
  
  .iconStar {
    width: 15px;
    height: 15px;
    border: 13px solid hsl(213, 19%, 18%);
    border-radius: 70%;
    text-align: center;
    background-color: hsl(213, 19%, 18%);
  }
  
  h2 {
    color: white;
  }
  
  p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
  }
  
  ul {
    margin-top: 30px;
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  
  .item {
    color: hsl(217, 12%, 63%);
    border: 13px solid hsl(213, 19%, 18%);
    border-radius: 70%;
    text-align: center;
    background-color: hsl(213, 19%, 18%);
  }
  
  .submit {
    font: inherit;
    letter-spacing: 2px;
    color: white;
    padding-top: 5px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: hsl(25, 97%, 53%);
  }
  
  .item:hover {
    color: white;
    border: 13px solid hsl(217, 12%, 63%);
    border-radius: 70%;
    text-align: center;
    cursor: pointer;
    background-color: hsl(217, 12%, 63%);
  }
  
  .item:focus {
    color: white;
    border: 13px solid hsl(25, 97%, 53%);
    border-radius: 70%;
    text-align: center;
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
  }
  
  .submit:hover {
    font: inherit;
    letter-spacing: 2px;
    color: hsl(25, 97%, 53%);
    padding-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: white;
  }